<!DOCTYPE html>
<html>
<head>
    <title>Add New Administrator</title>
</head>
<body>
    <h1>Add New Administrator</h1>
    <form action="/Admin/addAdmin" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="dob">Date of Birth:</label><br>
        <input type="date" id="dob" name="dob"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
      
    </form>
</body>
</html>