<!-- add_nurse.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Nurse</title>
    <link rel="stylesheet" href="../css/add_nurse.css"> <!-- New CSS file for add_nurse.html -->
</head>
<body>
    <h1>Add Nurse</h1>
    <div class="form-container">
        <form action="/Admin/addNurse" method="post" enctype="multipart/form-data" th:object="${nurse}">
            <label class="form-label" for="nurseName">Name:</label><br>
            <input class="form-input" type="text" id="nurseName" name="nurseName" th:field="*{name}" required><br>
            <label class="form-label" for="nurseSpecialization">Specialization:</label><br>
            <input class="form-input" type="text" id="nurseSpecialization" name="nurseSpecialization" th:field="*{specialization}" required><br>
            <input class="form-submit" type="submit" value="Add Nurse">
        </form>
    </div>
</body>
</html>
