<html xmlns:th="http://wwww.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
         <link rel="stylesheet" href="../css/footernew.css"> 
    
        <title>footer</title>
    
    </head>
    <body>
    
    <div class=footerbox>

    <table style="width:100%">
      <tr>
        <th class=textnum1>customer service</th>
        <th class=textnum2 >quick links</th>
        <th class=textnum3 >reach out</th>
        <th class=textnum4>follow us</th>
      </tr>
      <tr>
     
        <a href="about.php"><td class=service>about</td></a>
        <td class=link>sign up</td>
        <td class=info><i id=icon4 class="fa fa-phone"></i>15219</td>
         <!-- <td>privacy policy</td> -->
         <td class=info ><i id=icon1 class="fa fa-facebook"></i>facebook</td>
      </tr>
      <tr>
        <td class=service>specialities</td>
        <td class=link>book an appointment</td>
        <td class=info><i id=icon5 class="fa fa-comment"></i>customercare@icare-clinic.com</td>
        <td class=info><i id=icon2 class="fa fa-instagram"></i>Instagram</td>
      </tr>
      <tr>
        <td class=service>doctors</td>
        <td class=link>specialities</td>
        <td class=info><i id=icon6 class="fa fa-bell"></i>sat - fri ,10am-9pm</td>
        <td class=info> <i id=icon3 class="fa fa-whatsapp" ></i>whatsapp</td> 
      </tr>
      <p class=copyright>© 2023 icare clinic. All rights reserved.</p>
     
      
     
    </table>
    
    
    </div>
    
    
    
    </body>
</html>